[project]
	description = some comfy snippets created while solving some codewars katas
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ksilin
[access "refs/for/refs/*"]
	read = group user/ksilin
	push = group user/ksilin
	label-Code-Review = -2..+2 group user/ksilin
	label-Verified = -1..+1 group user/ksilin
	rebase = group user/ksilin
	removeReviewer = group user/ksilin
	submit = group user/ksilin
[access "refs/heads/*"]
	read = group user/ksilin
	create = group user/ksilin
	push = +force group user/ksilin
	pushMerge = group user/ksilin
[access "refs/tags/*"]
	push = +force group user/ksilin
	pushTag = group user/ksilin
	pushSignedTag = group user/ksilin
